body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  color: #616161; /* grey darken-2 */
}

h3 {
  color: #9e9e9e; /* grey */
}

.container {
  display: flex;
  margin: 0 auto;
  width: 90vw;
  height: 60vw;
}

.svg {
  width: 100%;
  height: auto;
  background: #e0f2f1; /* teal lighten-5 */
}

.inner-text {
  font-size: 0.5em;
}

@media (min-width: 888px) {
  .container {
    width: 800px;
    height: 532px;
  }
}
